/* TAGS */
body {
    background-color: lightblue;
}
h1 {
    text-align: center;
}
table {
    text-align: center;
}
form {
    text-align: center;
}

div {
    text-align: center;
}

th {
    text-transform: uppercase;
    border-style:solid;
    border-color:lightskyblue;
    border-width:1px;
}
td{
    border-style:solid;
    border-color:lightskyblue;
    border-width:1px;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
/* CLASSES */
.upper_tr{
    border-top:solid;
    border-color:lightskyblue;
    border-width:2px;
}
.game{
    text-align: center;
    border-style:solid;
}

.button_size{
    width:100px;
}

.hidden{
    display:none;
}

.big_font {
    font-size:24px;
}

.custom-border {
    border-style: outset;
    border-color: lightskyblue;
    border-width:5px;
}
